<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1079938578998-8nkj6pi1qoiuljnb2mqocjhu28enpapr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1079938578998-8nkj6pi1qoiuljnb2mqocjhu28enpapr</string>
	<key>API_KEY</key>
	<string>AIzaSyC-MM4G6G8sI16s6jB5AqHAjNXZJQtuapc</string>
	<key>GCM_SENDER_ID</key>
	<string>1079938578998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.charcoaldesign.SwiftExample</string>
	<key>PROJECT_ID</key>
	<string>college-life-f765d</string>
	<key>STORAGE_BUCKET</key>
	<string>college-life-f765d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1079938578998:ios:037f097d99a14502</string>
	<key>DATABASE_URL</key>
	<string>https://college-life-f765d.firebaseio.com</string>
</dict>
</plist>